---
import Base from '../layouts/Base.astro';
import Navbar from '../components/nav/Navbar.astro';
import Footer from '../components/nav/Footer.astro';
import LoginModal from '../components/shared/LoginModal.astro';
import SearchOffcanvas from '../components/shared/SearchOffcanvas.astro';
import Preloader from '../components/shared/Preloader.astro';
import DashboardSidebar from '../components/dashboard/DashboardSidebar.astro';
import { gallerys5, timings, features2 } from '../lib/data/context';

const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
export const prerender = false;
---
<Base title="Add Listing - ThinksToDo">
  <Navbar headerClass="header header-light head-shadow" />

  <Preloader />

  <!-- Dashboard Start -->
  <section class="p-0">
    <div class="container-fluid p-0">
      <div class="row user-dashboard g-0 pt-lg-0 pt-5">

        <!-- Dashboard Sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-12">
          <DashboardSidebar current="add-listing" />
        </div>

        <!-- Dashboard Content -->
        <div class="col-xl-10 col-lg-9 col-md-12">
          <div class="user-dashboard-box bg-light">

            <!-- Dashboard Title -->
            <div class="dashHeader p-xl-5 p-4 pb-xl-0 pb-0">
              <h2 class="fw-medium mb-0">Add Listing</h2>
            </div>

            <!-- Dashboard Details -->
            <div class="dashCaption p-xl-5 p-3 p-md-4">

              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="fa fa-file text-primary me-2"></i>Basic Informations</h4>
                    </div>
                    <div class="card-body">

                      <!-- Components/User-Dashboard/dashboard-add-listing/informations.html -->
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Listing Tile<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Name of your business"></i></label>
                            <input type="text" class="form-control rounded" placeholder="Decathlon Sport House" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Category</label>
                            <div class="selects">
                              <select class="categories form-control">
                                <option label="option"></option>
                                <option value="lv">Eat & Drinking</option>
                                <option value="la">Rental Property</option>
                                <option value="kc">Classifieds</option>
                                <option value="no">Bank Services</option>
                                <option value="kc">Shopping</option>
                                <option value="lb">Fintess & Gym</option>
                                <option value="cl">Coaching</option>
                                <option value="cn">Other Services</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Keywords<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Maximum 10 keywords related with business"></i></label>
                            <input type="text" class="form-control rounded" placeholder="Type keywords by comma's" />
                          </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">About Liting</label>
                            <textarea class="form-control rounded ht-150" placeholder="Describe your self"></textarea>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->

              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="bi bi-geo-alt text-primary me-2"></i>Add Location</h4>
                    </div>
                    <div class="card-body">

                      <!-- Components/User-Dashboard/dashboard-add-listing/location.html -->
                      <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Address</label>
                            <input type="text" class="form-control rounded" placeholder="202 Near houset market" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">City</label>
                            <div class="selects">
                              <select class="location form-control">
                                <option label="option"></option>
                                <option value="lv">Philadelphia</option>
                                <option value="la">Nashville</option>
                                <option value="kc">San Francisco</option>
                                <option value="no">San Antonio</option>
                                <option value="kc">Las Vegas</option>
                                <option value="lb">Los Angeles</option>
                                <option value="cl">Kansas City</option>
                                <option value="cn">Jacksonville</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">State</label>
                            <input type="text" class="form-control rounded" placeholder="" />
                          </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Postal Code</label>
                            <input type="text" class="form-control rounded" placeholder="" />
                          </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Zip-Code</label>
                            <input type="text" class="form-control rounded" placeholder="" />
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->

              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="bi bi-images text-primary me-2"></i>Logo & Gallery</h4>
                    </div>
                    <div class="card-body">
                      <div class="row g-4">

                        <!-- Components/User-Dashboard/dashboard-add-listing/logo&gallery.html -->
                        {gallerys5.map((item: any) => (
                          <div class="col-lg-4 col-md-6">
                            <label class="lableTitle">{item.title}</label>
                            <form action="/file-upload" class="dropzone" id={item.id}>
                              <i class="bi bi-patch-plus"></i>
                            </form>
                            <label class="smart-text text-md">{item.name}</label>
                          </div>
                        ))}

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->


              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="bi bi-stopwatch text-primary me-2"></i>Working Hours</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        <!-- Components/User-Dashboard/dashboard-add-listing/working-hours.html -->
                        {days.map((day) => (
                          <div class="form-group">
                            <div class="row align-items-center g-3">
                              <label class="lableTitle col-lg-2 col-md-2">{day}</label>
                              <div class="col-lg-5 col-md-5">
                                <select class="openingtime chosen-select">
                                  <option label="option"></option>

                                  <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
                                  {timings.map((t: any) => (
                                    <option>{t.time}</option>
                                  ))}

                                </select>
                              </div>
                              <div class="col-lg-5 col-md-5">
                                <select class="closingtime chosen-select">
                                  <option label="option"></option>

                                  <!-- Components/User-Dashboard/dashboard-add-listing/timing.html -->
                                  {timings.map((t: any) => (
                                    <option>{t.time}</option>
                                  ))}

                                </select>
                              </div>
                            </div>
                          </div>
                        ))}

                        <div class="form-check mt-4 ps-5">
                          <input id="t24" class="form-check-input" name="24-1" type="checkbox" />
                          <label for="t24" class="form-check-label text-dark">This Business open 7x24</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->


              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="bi bi-feather text-primary me-2"></i>Features</h4>
                    </div>
                    <div class="card-body">
                        <div class="amenitiesFeatures">
                        <ul class="p-0 row align-items-start justify-content-start g-4">

                          <!-- Components/User-Dashboard/dashboard-add-listing/features2.html -->
                          {features2.map((item: any) => (
                            <li class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                              <div class="form-check">
                                <input id={item.id} class="form-check-input" name={item.id} type="checkbox" />
                                <label for={item.id} class="form-check-label">{item.title}</label>
                              </div>
                            </li>
                          ))}

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->


              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-4 px-4">
                      <h4 class="fs-5 fw-medium"><i class="bi bi-tags text-primary me-2"></i>Add Menues</h4>
                    </div>
                    <div class="card-body">

                      <!-- Components/User-Dashboard/dashboard-add-listing/menues.html -->
                      <div class="row">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Choose Category<i class="lableTip bi bi-patch-question-fill" data-bs-toggle="tooltip" data-bs-title="Choose your Item Category"></i></label>
                            <div class="selects">
                              <select class="categories form-control">
                                <option label="option"></option>
                                <option value="lv">Chinees Food</option>
                                <option value="la">Indian Food</option>
                                <option value="kc">Breakfast</option>
                                <option value="no">South Indian Food</option>
                                <option value="kc">Fast Food</option>
                                <option value="lb">Noodles</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Item Name</label>
                            <input type="text" class="form-control rounded" placeholder="Item Name" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                            <label class="lableTitle">Item Price in USD</label>
                            <input type="text" class="form-control rounded" placeholder="Price" />
                          </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                          <div class="d-flex align-items-center justify-content-between gap-3">
                            <div class="addItem"><button type="button" class="btn btn-sm btn-light-primary fw-medium rounded-pill"><i class="bi bi-plus-circle me-1"></i>Add Item</button></div>
                            <div class="removeItem"><button type="button" class="btn btn-sm btn-light fw-medium rounded-pill"><i class="bi bi-x-circle me-1"></i>Remove Item</button></div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- Row End -->

              <!-- Row Start -->
              <div class="row align-items-start g-4 mb-lg-5 mb-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <button type="button" class="btn btn-primary rounded-pill fw-medium">Publish & Preview<i class="bi bi-arrow-right-circle ms-2"></i></button>
                </div>

              </div>
              <!-- Row End -->

              <!-- Row Start -->
              <div class="row align-items-start g-4">
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <p class="text-muted m-0">&copy; <script is:inline>document.write(new Date().getFullYear())</script> ThinksToDo. Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Dashboard End -->


  <!-- Components/Home/index/cart.html -->
  <!-- Components/Home/index/search.html -->
  <SearchOffcanvas />


  <!-- Components/Home/index/log.html -->
  <LoginModal />


  <Footer />
</Base>
</content>
</invoke>